#information-technology-page-banner {
	position: relative;
}
.bg_cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.pt-332 {
	padding-top: 305px;
}
#information-technology-page-banner .page-banner-title h1 {
	position: relative;
	font-size: 40px;
	font-weight: 700;
	color: var(--yellowTheme);
	text-transform: uppercase;
	margin-bottom: 20px;
}
.page-banner-title nav ol {
	margin: 0;
	border-radius: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: var(--bgBreadcrumb);
}
.page-banner-title .breadcrumb {
	padding: 10px 15px;
	margin: 0 auto;
	display: inline-flex;
}
.page-banner-title .breadcrumb-item i {
	padding-right: 13px;
	color: var(--colorWhite);
}
.page-banner-title .breadcrumb-item+.breadcrumb-item {
	padding-left: 0;
}
.page-banner-title .breadcrumb-item a {
	color: var(--colorWhite);
	font-weight: 600;
	text-decoration: none;
}
.page-banner-title .breadcrumb-item a:hover {
	color: var(--yellowTheme);
}
.page-banner-title .breadcrumb-item.active {
	color: var(--yellowTheme);
	font-weight: 600;
}
.page-banner-title .breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	color: var(--colorWhite);
	content: "\f105";
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	padding: 0 10px;
}
#information-technology {
	padding: 40px 0 25px 0;
	background-color: var(--colorWhite);
}
#information-technology .heading h1 {
	color: var(--blueTheme);
	font-size: 42px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	position: relative;
}
#information-technology .heading h1 span {
	color: var(--yellowTheme);
}
#information-technology .heading {
	margin-bottom: 55px;
}
#information-technology .heading::after {
	content: '';
	position: absolute;
	width: 70px;
	height: 3px;
	background: var(--yellowTheme);
	left: 50%;
	bottom: -20px;
	transform: translate(-50%, 0);
}
.technology_content p {
	font-size: 18px;
	line-height: 27px;
	color: var(--greyTheme);
	font-weight: 300;
	text-align: left;
	margin-bottom: 10px;
	text-align: justify;
}
#information-technology .technology_content label {
    color: var(--blueTheme);
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    margin: 5px 0 0px 0;
}
#information-technology .technology_content label p {
    color: var(--blueTheme);
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 0;
}
#characteristics {
	background-color: var(--bgGrey);
    padding: 40px 0;	
}
.characteristics_heading h2 {
    color: var(--blueTheme);
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}
.tracing_bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tracing_content {
	padding: 50px 20px;
}
.tracing_content h3 {
    color: var(--blueTheme);
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--yellowTheme);
    padding-bottom: 7px;
    display: inline-block;
}
.tracing_content p {
    margin-bottom: 15px;
    color: var(--greyTheme);
    text-align: justify;
}
.tracing_img {
	background-color: var(--colorWhite);
}
.tracing_img img {
	padding: 7px;
    box-shadow: 0px 0px 15px 0px #b5b5b5;
    border: 2px solid var(--blueTheme);
}
#technology_matter {
	background-color: var(--colorWhite);
	padding: 40px 0;
}
.technology_matter_content {
	padding: 0px 15px;
	background-color: var(--colorWhite);
}
.technology_matter_content h4 {
    color: var(--blueTheme);
    font-weight: 600;
    margin-bottom: 10px;
}
.technology_matter_content p {
    color: var(--greyTheme);
    text-align: justify;
    margin-bottom: 10px;
}
.technology_matter_content ul.matter_list {
    margin: 15px 0 0px 0;
    padding-left: 2px;
}
.matter_list li {
	list-style: none;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    color: var(--greyTheme);
    text-align: justify;
}
.matter_list i {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 16px;
    color: var(--blueTheme);
}
.technology_matter_img img {
	box-shadow: 0px 0px 15px 0px #b5b5b5;    
}
#drives {
	background-color: var(--bgGrey);
	padding: 40px 0;
}
.drives_content h4 {
    color: var(--blueTheme);
    font-weight: 600;
    margin-bottom: 10px;
}
.drives_content p {
    color: var(--greyTheme);
    text-align: justify;
    margin-bottom: 10px;
}
.drives_content h5 {
    color: var(--blueTheme);
    font-weight: 600;
    margin-bottom: 15px;
}
.drives_point h6 {
	color: var(--blueTheme);
    font-weight: 600;
    margin-bottom: 10px;	
}
.drives_point ul.drives_list {
    margin: 10px 0 15px 0;
    padding-left: 2px;
}
.drives_point li {
	list-style: none;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    color: var(--greyTheme);
    text-align: justify;
}
.drives_point i {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 16px;
    color: var(--blueTheme);
}
.drives_img img {
	box-shadow: 0px 0px 15px 0px #b5b5b5; 
}
#modern_organization {
    padding: 40px 0 0px;
}
.modern_heading {
    margin-bottom: 40px;
}
.modern_heading h2 {
    color: var(--blueTheme);
    font-weight: 800;
    margin-bottom: 15px;
}
.modern_heading p {
    color: var(--greyTheme);
}
.modern_heading h4 {
    color: var(--blueTheme);
    font-weight: 600;
}
.modern_box {
    margin-bottom: 40px;
}
.modern_box .modern_content {
    padding: 30px 30px 15px 80px;
    background-color: var(--colorWhite);
    box-shadow: 0px 0px 20px 0px #d0d0d0;
	margin-left: -80px;
    margin-top: 50px;
    z-index: -1;
    position: relative;
}
.modern_box:nth-child(2) .modern_content, .modern_box:nth-child(4) .modern_content {
    padding: 30px 80px 15px 30px;
    background-color: var(--colorWhite);
    margin-right: -80px;   
    margin-left: 0px;
    margin-top: 50px;
}
.modern_content h4 {
    color: var(--blueTheme);
    font-weight: 600;
    margin-bottom: 10px;
}
.modern_content h6 {
    color: var(--blueTheme);
    font-weight: 600;
}
.modern_content p {
    color: #666666;
    margin-bottom: 10px;
    text-align: justify;
}
.modern_image img, .communication img {
    box-shadow: 0px 0px 15px 0px #b5b5b5;
    border: 2px solid var(--blueTheme);
    padding: 5px;
}
#get-in-touch {
	padding: 20px 0 40px;
}
.get_started_bg {
	background-color: var(--bgGrey);
	margin: 0px;
}
.get_started_bg img {
	box-shadow: 0px 0px 15px 0px #b5b5b5;
}
.get_started {
	background-color: var(--colorWhite);
    padding: 40px;
    margin: 30px 45px 30px 30px;
    height: 100%;
}
.get_started h4 {
	color: var(--blueTheme);
	font-weight: 700;
}
.get_started p {
    color: var(--greyTheme);
}    
.free-queto {
    background: #f6c50e;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    display: inline-block;
    color: var(--blueTheme);
}
.free-queto:hover {
    background: var(--blueTheme);
    color: var(--colorWhite);
    text-decoration: none;
}    
@media(max-width:1199.98px){
	.pt-332 {
		padding-top:130px;
	}
	#information-technology-page-banner .page-banner-title h1 {
		font-size: 34px;
	}
	#information-technology .heading h1 {
		font-size: 36px;
	}
	.characteristics_heading h2 {
    	font-size: 30px;
	}
	.tracing_content {
    	padding: 20px 20px;
	}
	.modern_heading h2 {
    	font-size: 30px;
	}
	.get_started {
    	margin: 30px 30px 30px 30px;
	}
	.get_started_bg img {
    	height: 449px;
	}
}
@media(max-width:991.98px){
	.pt-332 {
		padding-top:100px;
	}
	#information-technology-page-banner .page-banner-title h1 {
		font-size: 32px;
	}
	#information-technology .heading h1 {
		font-size: 32px;
	}
	#information-technology {
		padding: 30px 0 20px 0;
	}
	#information-technology .heading {
		margin-bottom: 45px;
	}
	#characteristics {
    	padding: 30px 0 10px;
	}
	.characteristics_heading h2 {
    	margin-bottom: 30px;
	}
	.characteristics_heading h2 {
    	font-size: 28px;
	}
	.tracing_bg {
    	background-image: none !important;
	}
	.tracing_bg .container {
		padding-left: 0;
		padding-right: 0;
	}
	.column-reverse {
    	flex-direction: column-reverse;	
	}
	.tracing_content {
    	padding: 25px 0px 15px;
	}
	.tracing_content h3 {
    	font-size: 26px;
	}
	#technology_matter {
    	padding: 30px 0;
	}
	.technology_matter_content {
    	padding: 0px 0px;
	}
	.technology_matter_img img {
    	margin-bottom: 30px;
	}
	.modern_heading {
    	margin-bottom: 30px;
	}
	#drives {
    	padding: 30px 0;
	}
	.drives_img img {
    	margin-top: 15px;
	}
	#modern_organization {
    	padding: 30px 0 0px;
	}
	.modern_heading h2 {
    	font-size: 28px;
	}
	.modern_box .modern_content {
    	margin-left: 0px;
    	margin-top: 30px;
    	padding: 30px 30px 15px 30px;
	}
	.modern_box:nth-child(2) .modern_content, .modern_box:nth-child(4) .modern_content {
		margin-right: 0px;
	    margin-left: 0px;
	    margin-top: 30px;
	    padding: 30px 30px 15px 30px;	
	}
	.communication img {
		width: 100%;
	}
	.get_started_bg img {
    	width: 100%;
    	height: auto;
	}
}
@media(max-width:767.98px){
	.pt-332 {
		padding-top:70px;
	}
	#information-technology-page-banner .page-banner-title h1 {
		font-size:28px;
	}
	#information-technology .heading h1 {
		font-size:28px;
	}
	.characteristics_heading h2 {
    	font-size: 26px;
	}
	.modern_heading h2 {
    	font-size: 26px;
	}
	.tracing_img {
    	padding: 0 15px;
	}
	.tracing_img img {
    	border: 10px solid var(--colorWhite);
	}
	.tracing_content h3 {
    	font-size: 24px;
	}
	.technology_matter_img img {
    	border: 3px solid #e6e6e6;
	}
	.drives_img img {
    	border: 3px solid #e6e6e6;
	}
	.modern_box {
    	margin-bottom: 30px;
	}
	.modern_box .modern_content {
    	padding: 20px 20px 15px;
	}
	.modern_box:nth-child(2) .modern_content, .modern_box:nth-child(4) .modern_content {
    	padding: 20px 20px 15px;
	}
	.modern_content h4 {
    	font-size: 22px;
	}
	.modern_heading h4 {
    	font-size: 22px;
	}
	.get_started {
    	padding: 30px;
	}
}
@media(max-width:575.98px){
	#information-technology-page-banner .page-banner-title h1 {
		font-size:24px;
	}
	#information-technology .heading h1 {
		font-size:24px;
	}
	.characteristics_heading h2 {
    	font-size: 24px;
	}
	.tracing_content h3 {
    	font-size: 22px;
	}
	.modern_heading h2 {
    	font-size: 24px;
	}
	.communication .col-sm-6 {
		width: 50%;
	}
	.technology_matter_img img {
    	border: 2px solid #e6e6e6;
	}
	.drives_img img {
    	border: 2px solid #e6e6e6;
	}
	.modern_box .modern_content {
    	padding: 15px 15px 10px;
	}
	.modern_box:nth-child(2) .modern_content, .modern_box:nth-child(4) .modern_content {
    	padding: 15px 15px 10px;
	}
	.modern_box {
    	margin-bottom: 20px;
	}
	.modern_heading h4 {
    	font-size: 20px;
	}
	.get_started {
    	padding: 15px;
	}
	.get_started {
    	margin: 15px;
	}
}